.header {
    width: 100%;
    height: 80vh;
    margin-top: 70px;
}

#header h1 {
    margin: 0 0 10px 0;
    font-size: 80px;
    font-weight: 700;
    color: black;
}
#header h2 {
    margin: 0 0 10px 0;
    font-size: 36px;
    font-weight: 700;
    color: black;
}

#header .brand-name {
    color: #f1214f;
}

.header-img {
    text-align: right;
}

span {
    display: flex;
    width: 180px;
    height: 55px;
    margin: 0 0px;
    perspective: 1000px;
}
span a {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform 0.25s;
    font-family: var(--font-family);
}
span a:before {
    position: absolute;
    content: 'Ask Me How';
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #f1214f;
    box-sizing: border-box;
    border-radius: 5px;
}
span a:after {
    position: absolute;
    content: 'How ?';
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #f1214f;
    box-sizing: border-box;
    border-radius: 5px;
}
span a:before {
    color: #fff;
    background: #f1214f;
    transform: rotateY(0deg) translateZ(25px);
}
span a:after {
    color: #f1214f;
    transform: rotateX(90deg) translateZ(25px);
}
span a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
