.navbar-toggler {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
    background-color: transparent;
}

.navbar a {
    font-size: 1.3rem;
    text-transform: capitalize;
}
.nav-link {
    color: #ffffff !important;
}

.navbar-toggler-icon svg {
    color: black;
    font-size: 30px;
}

.navbar-nav {
    margin-left: auto;
}

.menu_active {
    font-weight: bold;
    border-bottom: 1px solid white;
}

.navbar a:hover {
    color: rgba(58, 185, 175, 1) !important;
}

@media (max-width: 991px) {
    .navbar_brand {
        font-size: 1.5rem !important;
    }

    .menu_active {
        font-weight: bold;
        border-bottom: none;
    }
}
