/* .dev_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}
.dev_sidebar_logo {
    width: 68px;
    height: 67px;
    margin-right: auto;
}
.dev_navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dev_navbar-links_container {
    display: flex;
    flex-direction: row;
    position: absolute;
}

.menu {
    color: #e1e1e4;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    line-height: 23px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}
.main_menu {
    color: #000;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}
.dev_navbar-menu {
    margin-left: auto;

    display: none;
    position: relative;
}

.dev_navbar-menu svg {
    cursor: pointer;
}

.dev_navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    position: inherit;
    right: 0;
    top: 40px;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.menu {
    margin: 0.5rem 0;
}

@media screen and (max-width: 1050px) {
    .dev_navbar-links_container {
        display: none;
    }

    .dev_navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .dev_navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .dev_navbar {
        padding: 2rem;
    }

    .dev_navbar-menu_container {
        top: 20px;
    }
} */

.navbar-toggler {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
    background-color: transparent;
}

.navbar a {
    font-size: 1.3rem;
    text-transform: capitalize;
}

.navbar-nav {
    margin-left: auto;
}

.menu_active {
    font-weight: bold;
    border-bottom: 1px solid black;
}

.navbar a:hover {
    color: black !important;
}

@media (max-width: 991px) {
    .navbar_brand {
        font-size: 1.5rem !important;
    }

    .menu_active {
        font-weight: bold;
        border-bottom: none;
    }
}
